.telegram-chart-top-layer {
    z-index: 1;
}

.telegram-chart-tooltip {
    position: absolute;
    padding: 10px;
    box-shadow: 0 0 3px #ccc;
    border-radius: 4px;
    z-index: 1001;
    pointer-events: none;
}

.telegram-chart-tooltip-title {
    font-size: 16px;
}

.telegram-chart-tooltip-datasets-group {
    display: flex;
    justify-content: space-between;
}

.telegram-chart-tooltip-dataset {

}

.telegram-chart-tooltip-dataset-value {
    font-size: 16px;
    font-weight: 600;
}

.telegram-chart-tooltip-dataset-name {
}

.telegram-chart-tooltip-legend {

}

