.telegram-chart {
    &-container {
        position: relative;
        overflow-x: hidden;
        margin-bottom: 50px;

        canvas {
            position: absolute;
        }
    }

    &-legend {
        margin-bottom: 50px;
    }

    &-top-layer {
        z-index: 1;
    }

    &-tooltip {
        display: none;
        position: absolute;
        top: 1px;
        padding: 10px;
        box-shadow: 0 0 3px #ccc;
        border-radius: 4px;
        z-index: 1001;
        pointer-events: none;

        &-title {
            font-size: 16px;
        }

        &-group {
            display: flex;
            justify-content: space-between;
        }

        &-dataset {
            margin-right: 7px;
        }

        &-value {
            font-size: 16px;
            font-weight: 600;
        }
    }
}
